
= error_messages_for :user
- form_for @user  do |f|
  = labeled_input f, :name
  = labeled_input f, :email

  = labeled_input f, :password
  = labeled_input f, :password_confirmation   
  = labeled_input f, nil, :input => f.submit, :nolabel => true  
