- set_headline "Edit user"

- form_for(@user) do |f|
  = f.error_messages
  = labeled_input f, :login
  = labeled_input f, :email
  = labeled_input f, :name
  = f.submit "Update"

= link_to 'Show', @user
