- set_headline "Edit user"

- form_for(@user) do |f|
  = f.error_messages

  %p
    = f.label :login
    %br
    = f.text_field :login
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :name
    %br
    = f.text_field :name

  %p= f.submit "Update"

= link_to 'Show', @user
