- rowclass = cycle('odd', 'even')
%tr.info{ :class => rowclass }
  %td= truncate_filename(h document.name)
  %td= h number_to_human_size(document.data.size)
  %td= h document.data.content_type
  %td= h document.created_at.to_s(:date_and_time)
  %td= h document.user.name rescue ""

   
  %td{ :rowspan => '2' }= link_to image_tag('download.png'), document.data.url(:original, false), :title => "Download Document"  
   
  - if current_user.can?(:documents, :edit, document)
    %td{ :rowspan => '2' }= edit_widget(document)
    %td{ :rowspan => '2' }= delete_widget(document)
  - else
    %td{ :rowspan => '2', :colspan => '2' } &nbsp;  

- style = document.description.blank? ? "margin: 0; height: 0; padding: 0;" : nil 
%tr.description{ :class => rowclass }
  %td{ :colspan => '5', :style => style }=  h truncate(document.description, :length => 60)
