%h1 Listing documents

%table
  %tr
    %th Name
    %th Description
    %th Data file name
    %th Data content type
    %th File size
    %th Data updated at
    %th User

- for document in @documents
  %tr
    %td= h document.name
    %td= h document.description
    %td= h number_to_human_size document.data.size
    %td= h document.data.updated_at
    %td= h document.user.name rescue ""

    %td= link_to 'Show', document
    %td= link_to 'Edit', edit_document_path(document)
    %td= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New document', new_document_path
