-set_headline "Document Details"

= render :partial => 'admin_tools', :locals => { :document => @document } if current_user.admin?
                   
%p
  = link_to "Download File", @document.data.url(:original, false)  |
  = link_to 'Back to List', documents_path
      
%table.listing
  %tr
    %th Name
    %td= h @document.name
  %tr
    %th Description
    %td= h @document.description
  
  %tr
    %th File Size
    %td= number_to_human_size @document.data.size 
  
  %tr
    %th.nobr Data Type
    %td= h @document.data.content_type

  %tr
    %th.nobr Uploaded By
    %td= h @document.user.display_name

  %tr
    %th.nobr Upload Date
    %td= h @document.created_at.to_s(:date_and_time)

