- set_headline("Site Preferences")

- form_for @preferences, :url => admin_preferences_path, :method => :put  do |f|
  .form_section
    %h3 Site Configuration
    = labeled_input f, :site_name
    = labeled_input f, :domain, :comment => "Used to generate links in email notifications."
    = labeled_input f, :logo_url
    = labeled_input f, :require_ssl, :input => f.check_box(:require_ssl)
      
  .form_section    
    %h3 Notifications
    = labeled_input f, :upload_notifications, :input => f.check_box(:upload_notifications), :comment => "Notify administrator of new uploads."
    = labeled_input f, :admin_email, :comment => "Administrator's email for notifications."
    
  .form_section    
    %h3 Email Configuration
    = labeled_input f, :smtp_server
    = labeled_input f, :smtp_port
    = labeled_input f, :smtp_username
    = labeled_input f, :smtp_password, :input => f.password_field(:smtp_password)
    = labeled_input f, :smtp_uses_tls, :input => f.check_box(:smtp_uses_tls)
    = labeled_input f, :from_email, :comment => "From: address for outgoing emails."

  .form_section      
    %h3 User Configuration
    = labeled_input f, :allow_password_resets, {                                            |
      :input => f.check_box(:allow_password_resets),                                        |
      :comment => 'Allow users to request password reset with "forgot my password" tool. '  |
    }                                                                                       |  
        
  .form_section
    %h3 Analytics
    %p 
      Paste code for Google Analytics (or other per-page include) here to be 
      automatically included in the footer of every page.
    = f.text_area :analytics   
      
  = f.submit