%h1= "Group: #{h @group.name}"

%h2 Current Members:

- if @group.users.blank?
  %p This group has no users.
- else    
  %ul
    - @group.users.each do |user|
      %li= h user.display_name
      %li= link_to (h user.display_name), admin_user_path(user)

= link_to 'Back to groups', admin_groups_path