
- form_for [:admin, @user] do |f|
  = f.error_messages :header_message => "Sorry, we couldn't save your changes."

  = labeled_input f, :login
  = labeled_input f, :name
  = labeled_input f, :email
  = labeled_input f, :password, :input => f.password_field(:password)
  = labeled_input f, :password_confirmation, :text => "Confirmation", :input => f.password_field(:password_confirmation)
  
  = labeled_input f, nil, :input => f.submit, :nolabel => true  
