
= error_messages_for :user
- form_for [:admin, @user] do |f|
  = labeled_input f, :login
  = labeled_input f, :name
  = labeled_input f, :email
  = labeled_input f, :password
  = labeled_input f, :password_confirmation, :text => "Confirmation"
  
  / TODO: admin will not be a boolean after the groups module is connected
  / so this will need to be removed in favor of an ajax tool for editing group
  / membership
  .labeled_input
    = f.label :admin
    = f.check_box :admin
  = labeled_input f, :submit, :input => f.submit, :nolabel => true  
