- set_headline('List of Users')

%table
  %tr
    %th Login
    %th Email
    %th Name

- for user in @users
  %tr
    %td= user.login
    %td= user.email
    %td= user.name

    %td= link_to 'Show', user
    %td= link_to 'Edit', edit_user_path(user)
    %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New user', new_admin_user_path
