-set_headline "Log In" 

- form_for @user_session do |f|
  = f.error_messages
  = labeled_input f, :login
  = labeled_input f, :password, :input => f.password_field(:password)
  .labeled_input
    %label &nbsp;
    = f.check_box :remember_me 
  .labeled_input
    %label &nbsp;
    = f.submit "Log In"