!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}

  %head
    %meta{"http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %title=  @title ? @title : "Convection"
    = stylesheet_link_tag 'universal', :media=>'all' 
    = stylesheet_link_tag 'screen', :media=>'screen, projection' 
    = stylesheet_link_tag 'default_theme', :media=>'screen, projection' 
    = stylesheet_link_tag 'print', :media=>'print' 

    = javascript_include_tag :defaults
  
    = yield :header 
    
  %body
    #inset                         
      #wrap
        #header
          #logo
            =link_to image_tag(@preferences.logo_url, :alt => "logo"), home_url
          %h1{:style => 'float: right'}= @preferences.site_name       
        = render :partial => 'layouts/nav'
        = render :partial => 'layouts/sidebar'
       
        #content    
          = render :partial => 'layouts/flash' , :locals => { :flash => flash }
      
          %h1= yield :headline if yield :headline
          = yield

      = render :partial => 'layouts/debug'  