!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}

  %head
    %meta{"http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %title=  @title ? @title : @preferences.site_name       
    = stylesheet_link_tag 'universal', :media=>'all' 
    = stylesheet_link_tag 'screen', :media=>'screen, projection' 
    = stylesheet_link_tag 'print', :media=>'print' 

    = javascript_include_tag :defaults
  
    = yield :header 
    = render :partial => 'layouts/async_analytics' if @preferences.async_analytics?     
    
  %body
    #inset                         
      #wrap
        #header
          #logo
            =link_to image_tag(@preferences.logo_url, :alt => "logo"), home_url
          %h1{:style => 'float: right'}= @preferences.site_name       
        = render :partial => 'layouts/nav'
        
        #content-wrap 
        
          = render :partial => 'layouts/sidebar'
          
          #content-column
            = render :partial => 'layouts/flash' , :locals => { :flash => flash }          
          
            #content    
              %h1= yield :headline if yield :headline
              #content-body
                = yield
          
        = render :partial => 'layouts/footer'
      = render :partial => 'layouts/debug'  
    = @preferences.analytics if @preferences.analytics  
    = render :partial => 'layouts/google_analytics' if @preferences.google_analytics?   
